<div class="page-header">
  <h3>Contestant <%= @cast.name %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dd><img src="<%= @cast.cast_img %>" class="img-responsive"></dd>
      <h3>Bio</h3>
      <dd><%= @cast.bio %></dd>
    </dl>
  </div>
</div>
